@model MissionPlanningWebApp.Models.Fighter

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","Fighter")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Fighter</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <table>
            @foreach (var item in ViewData["fighterCharacteristics"] as List<MissionPlanningWebApp.Models.FighterCharacteristic>)
            {
                <tr>
                    <td>@Html.DisplayFor(i => item.Characteristic.Char)</td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(i => item.CharValue)
                            @Html.ValidationMessageFor(i => item.CharValue)
                        </div>
                    </td>
                </tr>
            } 
        </table>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
	<script type="text/javascript" src="scripts/jquery-1.4.1.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('.ckbox').click(function () {
				var checked = $(this).is(':checked');
				var id = $(this).attr('id');

				var data = {
					id: id,
					ck: checked
				};

				$.post('/MissionParameter/UpdateChecked', data, function (data) {
					alert(data);
				});
			});
		});
	</script>
}
