@model MissionPlanningWebApp.Models.Warfighter

@{
    ViewBag.Title = "Create";
}

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Warfighter</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
		<div class="editor-label">
            @Html.LabelFor(model => model.Weight)
        </div>
		<div class="editor-field">
			<input class="text-box single-line ui-input-text ui-body-b ui-corner-all ui-shadow-inset valid charVal" data-val="true" data-val-number="The Weight field must be a number." data-val-required="The Weight field is required." name="item.CharValue" type="text" value="0">
			@Html.ValidationMessageFor(model => model.Weight)
        </div>

        <table>
            @foreach (var item in ViewData["WarfighterCharacteristics"] as List<MissionPlanningWebApp.Models.WarfighterCharacteristic>)
            {
                <tr>
                    <td>@Html.DisplayFor(i => item.Characteristic.Char)</td>
					@if (item.Characteristic.Char == "Squad Role")
					{
						<td>
							<select class="selectRole charVal" name="select-choice-min" data-mini="true">
								<option>Squad Leader</option>
								<option>Fire Team Leader</option>
								<option>Rifleman</option>
								<option>Automatic Rifleman</option>
								<option>Assistant Automatic Rifleman</option>
								<option>Medical Corpsman</option>
							</select>
						</td>
					}
					else
					{
						<td>
							<div class="editor-field">
								<input type="range" class="quantity" name="slider-1" value="0" min="@item.Characteristic.Min" max="@item.Characteristic.Max" data-mini="true" />
								<!--<input class="text-box single-line ui-input-text ui-body-b ui-corner-all ui-shadow-inset valid charVal" data-val="true" data-val-number="The field CharValue must be a number." data-val-required="The CharValue field is required." name="item.CharValue" type="text" value="0">-->
							</div>
						</td>
					}
                </tr>
            } 
        </table>

        <p>
            <input type="submit" value="Create" id="submitButton" />
        </p>
    </fieldset>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
	<script type="text/javascript" src="scripts/jquery-1.4.1.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#submitButton').click(function () {
				var name = $("#Name").val();
				var weight = $("#Weight").val();
				var chars = "";
				$('.charVal').each(function (i, item) {
					chars += $(item).val() + ",";
				});

				var data = {
					name: name,
					weight: weight,
					chars: chars
				};

				$.post('/Warfighter/ManualCreate', data, function (data) {
					window.location.href = "@Url.Action("Index", "Warfighter")";
				});
				
			});
		});
	</script>
}
