@model MissionPlanningWebApp.Models.Warfighter

@{
    ViewBag.Title = "Create";
}

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Warfighter</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
		<div class="editor-field">
            @Html.EditorFor(model => model.Weight)
            @Html.ValidationMessageFor(model => model.Weight)
        </div>

        <table>
            @foreach (var item in ViewData["WarfighterCharacteristics"] as List<MissionPlanningWebApp.Models.WarfighterCharacteristic>)
            {
                <tr>
                    <td>@Html.DisplayFor(i => item.Characteristic.Char)</td>
                    <td>
                        <div class="editor-field">
							<input class="text-box single-line ui-input-text ui-body-b ui-corner-all ui-shadow-inset valid charVal" data-val="true" data-val-number="The field CharValue must be a number." data-val-required="The CharValue field is required." id=@item.Characteristic.Char name="item.CharValue" type="text" value="0">
                            @Html.ValidationMessageFor(i => item.CharValue)
                        </div>
                    </td>
                </tr>
            } 
        </table>

        <p>
            <input type="submit" value="Create" id="submitButton" />
        </p>
    </fieldset>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
	<script type="text/javascript" src="scripts/jquery-1.4.1.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#submitButton').click(function () {
				var name = $("#Name").val();
				var chars = "";
				$('.charVal').each(function (i, item) {
					chars += $(item).val() + ",";
				});

				var data = {
					name: name,
					chars: chars
				};

				$.post('/Warfighter/ManualCreate', data, function (data) {
					window.location.href = "@Url.Action("Index", "Warfighter")";
				});
				
			});
		});
	</script>
}
