@model IEnumerable<MissionPlanningWebApp.Models.Warfighter>

@{
    ViewBag.Title = "Warfighter";
}

@section FormattedTable{
    <link href="~/Styles/TableFormat.css" rel="stylesheet" />
}

       <p>
         <div style = style="margin-left:10%; >
        @Html.ActionLink("Create New", "Create")
         </div>
    </p>
    <table>
        <tr>
            <th style="width:50px;">

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
			<th>
				@Html.DisplayNameFor(model => model.Weight)
			</th>
            @foreach (var chr in ViewData["characteristics"] as List<MissionPlanningWebApp.Models.Characteristic>)
            {
                <th>@Html.DisplayFor(c => chr.Char)</th>
            }
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.IsSelected)
                    {
                        <input type="checkbox" class="ckbox" id="@item.ID" checked />
                    }
                    else
                    {
                        <input type="checkbox" class="ckbox" id="@item.ID" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
				<td>
					@Html.DisplayFor(modelItem => item.Weight)
				</td>
                @foreach (var chr in item.WarfighterCharacteristics)
                {
                    <td><input type="text" class="quantity" id="@item.ID @chr.CharID" value="@chr.CharValue"></td>
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>

            </tr>
        }
    </table>
    @section Scripts {
        <script type="text/javascript" src="scripts/jquery-1.4.1.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.ckbox').click(function () {
                    var checked = $(this).is(':checked');
                    var id = $(this).attr('id');

                    var data = {
                        id: id,
                        ck: checked
                    };

                    $.post('/Warfighter/UpdateChecked', data, function (data) {
                    });
                });


                $('.quantity').change(function () {
                    var id = $(this).attr('id').split(" ")[0];
                    var charID = parseInt($(this).attr('id').split(" ")[1]);
                    var charVal = $(this).val();
                    var data = {
                        id: id,
                        charID: charID,
                        charVal: charVal
                    };

                    $.post('/WarFighter/UpdateValue', data, function (data) {
                    });
                });
            });
        </script>
    }
</div>