@{
    ViewBag.Title = "Lighten the Load: Equipment Distribution Training Aid";
}

@section FormattedTable{
    <link href="~/Styles/TableFormat.css" rel="stylesheet" />
}

<div id="content_box_1" class="content_box">

    <h2>Lighten the Load: Equipment Distribution Training Aid</h2>
    <p>Created in conjunction with Virtual Soldier Research.</p>

    <ul data-role="listview" data-inset="true">
        <li class="header" style="text-align:center">Navigation</li>
        <li><img src="Military-Rifle-icon.png">@Html.ActionLink("Equipment", "Index", "Equipment")</li>

        <li class="header" style="text-align:center">Input</li>
        <li>@Html.ActionLink("Mission Parameters", "Index", "MissionParameter")</li>
        <li>@Html.ActionLink("Warfighters", "Index", "Fighter")</li>

        <li class="header" style="text-align:center">Advanced Input</li>
        <li>@Html.ActionLink("Mission Rules", "Index", "MissionRule")</li>
        <li>@Html.ActionLink("Distribution Rules", "Index", "DistributionRules")</li>

        <li class="header" style="text-align:center">Plan Mission</li>
        <li>@Html.ActionLink("Plan Mission(Distribute Equipment)", "Distribute", "DistributionResults")</li>
    </ul>
	<footer style="text-align:center">
		@Html.ActionLink("About", "About", "Home")
		@Html.ActionLink("Contact", "Contact", "Home")
	</footer>
</div>