@{
    ViewBag.Title = "Lighten the Load: Equipment Distribution Training Aid";
}

@section FormattedTable{
    <link href="~/Styles/TableFormat.css" rel="stylesheet" />
}

<div id="content_box_1" class="content_box">

    <p><h2><img height="100px" width="80px" align="middle" src="~/Content/images/VSR Logo__Final.png" style="margin-right:3px" />Equipment Distribution Training Aid<img height="100px" width="100px" align="middle" src="~/Content/images/marine-corps-logo_final.jpg" style="margin-left:3px" /></h2></p>

	<ul data-role="listview" data-inset="true">
        <li>@Html.ActionLink("Input Mission Parameters", "Index", "MissionParameter")</li>
        <li>@Html.ActionLink("Input Warfighters", "Index", "Warfighter")</li>
	</ul>
	<ul data-role="listview" data-inset="true">
        <li class="header" style="text-align:center">Plan Mission</li>
        <li>@Html.ActionLink("Predict Equipment", "Index", "MissionPlan")</li>
        <li>@Html.ActionLink("Distribute Equipment", "Distribute", "DistributionResults")</li>
    </ul>
	<div data-role="collapsible" data-collapsed="true">
		<h1>Advanced Decision Engine</h1>
	<ul data-role="listview" data-inset="true">
        <li>@Html.ActionLink("Mission Rules", "Index", "MissionRule")</li>
        <li>@Html.ActionLink("Distribution Rules", "Index", "DistributionRules")</li>
	</ul>
	</div>
	<ul data-role="listview" data-inset="true">
        <li>@Html.ActionLink("Equipment Library", "Index", "Equipment")</li>
	</ul>

	<footer style="text-align:center">
		@Html.ActionLink("About", "About", "Home")
		@Html.ActionLink("Contact", "Contact", "Home")
	</footer>
</div>