@model MissionPlanningWebApp.Models.MissionRule

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MissionRule</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Param.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Param.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParamName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParamName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RuleCond)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RuleCond)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RuleData)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RuleData)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Equip.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Equip.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EquipName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EquipName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConstrCond)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConstrCond)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConstrRHS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConstrRHS)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
