@model MissionPlanningWebApp.Models.DistributionRules

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DistributionRules</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Chr.Char)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chr.Char)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChrCond)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChrCond)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChrData)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChrData)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Equip.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Equip.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConstrCond)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConstrCond)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConstrRHS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConstrRHS)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
