@model MissionPlanningWebApp.Models.DistributionResults

@{
    ViewBag.Title = "Equipment Distribution";
}

@section FormattedTable{
    <link href="~/Styles/TableFormat.css" rel="stylesheet" />
}

<h2>Equipment Distribution</h2>


    @foreach (var WarfighterDist in Model.Results)
    {
	<div data-role="collapsible" data-collapsed="true">
	@{ double weightPercent = Math.Round(WarfighterDist.TotalWeight / WarfighterDist.Warfighter.Weight * 100, 2); }
    <h1>@Html.DisplayFor(modelItem => WarfighterDist.Warfighter.Name), Load: @Html.DisplayFor(modelItem => WarfighterDist.TotalWeight) lbs (@Html.Raw(weightPercent.ToString())% of body weight)</h1>
	<table>
        <tr>
            <th>
                Equipment
            </th>
            <th>
                Qty
            </th>
			<th>
				Weight
			</th>
        </tr>
        @foreach (var dist in WarfighterDist.Distributions)
        { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => dist.Equipment.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dist.Distribution)
                </td>
				<td>
					@{ string equipWeight = (dist.Equipment.Weight * (double)dist.Distribution).ToString(); }
					@Html.Raw(equipWeight)
				</td>
            </tr>
        }
	</table>
	</div>
    }

